@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    margin: 0px;
}

p {
    font-size: 1.2em;
}

h1 {
    padding-top: 20px;
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    
}

hr {
    margin-top: 70px;
    width: 100px;
    border-color: #F3A0FD;
}

h2 {
    padding-top: 5px;
    font-size: 2.8em;
    text-align: center;
    margin: auto;
    max-width: 400px;
    font-family:Helvetica, Arial, sans-serif;
    font-weight: lighter;
}



nav {
    height: 90px;
    background-color:  #0BF96A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    flex-wrap: wrap;

}

Nav a {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: black;


}

#NavOpcoes >a:hover {
    color: rgb(0, 17, 255);
}

main {
    margin: auto;
}

section {
    margin-top: 50px;
}

article {
    padding-left: 20px;
    max-width: 1200px;
    margin: auto;
    

}
#section01 {
    margin-top: 0px;
}


@media(max-width: 600px){
    #container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #container img {
        width: 90vw;
    }

}

@media(min-width: 600px){
    #container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
}



#container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container2 > div {
    width: 400px;
}

#precos {
    background-color: #F3A0FD;

}


#container3 {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    
}

#container3 > div {
    border-style: solid;
    padding: 10px;
    font-size: 1.2em;
    width: 250px;
    margin-bottom: 20px;
    
}

#container3 h4 {
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    border-bottom: solid;

}

#container3 ul {
    text-align: left;
    list-style-type: none;
}

#container3 span {
    font-size: 0.5em;
    vertical-align: top;
}

#container3 a {
    padding: 2px 10px 2px 10px;
    margin: 3vw;
    border: solid;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: black;
}

#container3 .f1 {
    border-color: #0BF96A;
}

#container3>.f1 > a {
    border-color: #0BF96A;
}

#container3>.f1 > ul > li::before {
    content: '•   ';
    color: #0BF96A;
}

#container3 .f2 {
    border-color: #E10BF9;
    background-color: #0BF96A;
}

#container3>.f2 > ul > li::before {
    content: '•   ';
    color: #E10BF9;
}

#container3>.f2 a {
    border-color: #E10BF9;
}


#container4 {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container4 > div {
    width: 250px;
}

#container4 h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.8em;
}

#container4 h3::before {
    content: '■';
    font-size: 1.5em;
}

.f14 h3::before {
    color: #0BF96A;

}

.f24 h3::before {
    color: #E10BF9;
}

.f34 h3::before {
    color: #049A40;
}

#section5 {
    background-color: #0BF96A;
}

#container5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

#container5 div {
    width: 450px;
   
}

#container5 > #div2 {
    background-color: #E10BF9;
    padding: 15px;
}

#container5 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin: 2px;
}

#container5 input {
    font-size: 1.8em;
    height: 50px;
    width: 280px;
}

#container5 a {
    font-size: 2.5em;
    text-decoration: none;
    color: black;
    margin: 15px 0px 0px 30px; 
}

#container5 a:hover {
    color: #0BF96A;
}


#section6 {
    margin-top: 0px;
    background-color: #F3A0FD;
    
}

#container06 {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

#section6 div {
    width: 450px;
    text-align: justify;
}

#section6 p {
    margin-top: 0px;
}
